.app-shell {
    min-height: 100vh;
    background: #f6f7fb;
}

/* HEADER */

.top-header {
    position: sticky;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.title {
    font-weight: 700;
    font-size: 18px;
}

.actions mat-icon {
    margin-left: 16px;
    cursor: pointer;
    color: #6b7280;
}

/* CONTENT */

.content {
    padding: 16px;
    padding-bottom: 90px;
}

/* BOTTOM NAV */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;

    padding: 10px 0;

    background: white;
    border-top: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 -5px 20px rgba(0, 0, 0, .05);
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    color: #6b7280;
    font-size: 12px;
}

.bottom-nav mat-icon {
    font-size: 24px;
}

.bottom-nav a.active {
    color: #3aa0d8;
}