<div class="modal-backdrop1">
  <div class="modal1">
    <h2>@if (form.value.id) { Modifier } @else { Ajouter } une transaction</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row">
        <label>Type</label>
        <select formControlName="type">
          <option value="income">Revenu</option>
          <option value="expense">Dépense</option>
        </select>
      </div>
      <!-- <div class="form-row">
        <label>Catégorie</label>
        <input formControlName="category" placeholder="Ex: Salaire, Alimentation..." />
      </div> -->
      <mat-form-field appearance="outline" class="full">
        <mat-label>Catégorie</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let cat of categories$ | async" [value]="cat.id">
            {{ cat.icon }} {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-row">
        <label>Icône</label>
        <input formControlName="icon" maxlength="2" style="width:3em;" />
      </div>
      <div class="form-row">
        <label>Description</label>
        <input formControlName="description" />
      </div>
      <div class="form-row">
        <label>Date</label>
        <input type="date" formControlName="date" />
      </div>
      <div class="form-row">
        <label>Montant</label>
        <input type="number" formControlName="amount" min="0.01" step="0.01" />
      </div>
      <div class="modal-actions">
        <button mat-stroked-button type="button" (click)="close.emit()">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          @if (form.value.id) { Modifier } @else { Ajouter }
        </button>
      </div>
    </form>
  </div>
</div>
